.FontColor {
  color: rgba(255, 255, 255, 0.733);
  text-decoration: none;
}

.MyButton {
  background-color: #030405;
  color: rgba(255, 255, 255, 0.733);
  font-size: 1vw;
  font-weight: bold;
  border-radius: 3vw;
  padding: 7px;
  transition-duration: 0.6s;
}

.MyBorder {
  border: 6px solid white;
  border-radius: 3vw;
}

.MyButton:hover,
a:hover {
  cursor: pointer;
  background-color: rgb(37, 51, 4);
  color: rgba(255, 255, 255, 0.733);
  text-decoration: none;
}

.AboutStyle {
  height: 70vh;
}

.FooterStyle {
  color: rgba(255, 255, 255, 0.733);
  text-align: center;
}

.Footer {
  padding-top: 7vw;
}

.FormBorder {
  border: 2px groove white;
  border-radius: 1vw;
}

.FormCenter {
  display: flex;;
  justify-content: center;
  margin: 3vw;
}

.FormSection {
  background: rgba(135, 206, 235, 0.6);
  box-shadow: 0 0 20px rgb(135, 206, 235);
  border: 6px solid white;
  width: 40%;
  padding: 2vw;
  border-radius: 3vw;
}

.FormStyle {
  display: flex;;
  flex-direction: column;
  justify-content: center;
}

.FormDiv {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.FormDiv input, textarea {
  border: 2px groove white;
  border-radius: 1vw;
  background: white;
  text-align: center;
  font-weight: bold;
}

textarea {
  width: 60%;
}